@import '../../colors.scss';

.doctordash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%; // Ensures full width
  // background-color: white; // Set background to white
  color: $color-main-bg; // Use variable for text color
  background-image: url("../../assets/home-background-img-text.jpg");
  // background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  h1 {
    margin-top: 50px;
    font-size: xx-large;
  }
}

.welcome-section h1 {
  font-size: 2rem;
  margin-top: 15px;
}

.functions-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0px;
  margin-top: 400px;
  z-index: 20;
}

.schedule-time {
  margin: 5px 10px;
  padding: 0 20px;
  width: 110px;
  // background-color: $color-text-alpha;
  text-align: center;
  border-radius: 10px;
  height: 30px;
}

.selected-time-range {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  h4 {
    color: $color-accent-3;
  }
}