@import '../../colors.scss';

.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: 0 $box-shadow;
  box-shadow: $box-shadow;
  height: 72px;
  width: 100%;
}

.top-nav-bar__logo {
  width: 150px; /* Set the width of the logo */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensures the logo scales properly without distortion */
}
