@import '../../colors.scss';

.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: 0 $box-shadow;
  box-shadow: $box-shadow;
  height: 90px;
  width: 100%;
  // background-color: $color-top-nav-block-bg-dark;
  background-image: $gradient-1;

  h1 {
    color: $color-top-nav-block-bg;
    font-weight: 500;
  }
}

.top-nav-bar__logo {
  margin-left: 20px;
  margin-top: 5px;
  width: 110px;
  /* Set the width of the logo */
  height: auto;
  /* Maintain aspect ratio */
  object-fit: contain;
  /* Ensures the logo scales properly without distortion */
}

.nav-icons {
  width: 180px;
  margin-right: 20px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}