@import '../../colors.scss';


  .menu-item {
    width: 45px;
    font-size: 2rem;
    cursor: pointer;
  }

  .menu-options {
    background-color: white;
    color: $color-main-bg;
    padding: 10px;
    position: absolute;
    right: 0;
    // top: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px $color-shadow;
  }

  .menu-options p {
    margin: 10px 0;
    cursor: pointer;

    &:hover {
      color: $color-block-hover;
    }
  }
