// colors.scss
$color-main-bg: #6C8CBF;
$color-block-bg: #5AA7A7;
$color-top-nav-block-bg: rgb(90, 167, 167, 0.8);
$color-block-hover: #96D7C6;
// $color-text: #6C8CBF;
$color-text: #ffffff;
$color-shadow: rgba(0, 0, 0, 0.5);
$color-shadow-hover: rgba(0, 0, 0, 0.2);
$color-accent-1: #BAC94A;
$color-accent-2: #E2D368;
$box-shadow: 0 4px 6px -6px #222;